body {
    text-align: center;
    font-size: 25px;
    background: linear-gradient(#00ffa6 100%, #00d9ff 0%);
    font-family: 'Cinzel Decorative', cursive;
    font-size: 25px;
}

img {
    width: 200px;
    height: 200px;
}
html {
    scroll-behavior: smooth;
}
menu:hover {
    color: fuchsia;
}

